<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="validate.js"></script>
</head>
<body>
<form action="#" name="StudentRegistration"  onSubmit="return(validate());">

<table cellpadding="5" width="40%" bgcolor="99FFFF" align="center"
cellspacing="8">

<tr>
<td colspan="6">
<center><font size="4"><b>Other Income Details</b></font></center>
</td>
</tr>
<tr>
	<td>Any Income from sale of shares</td>
	<td><input type="text" id="amount" name="income" value=""><br><input class="btn btn-primary" name="fields[]" type="file"></td>
</tr>
<tr>
	<td>Rental income from machinery plant etc</td>
	<td><input type="text" id="amount" name="income" value=""><br></td>
</tr>
<tr>
	<td>Agricultural income</td>
	<td><input type="text" id="amount" name="income" value=""><br></td>
</tr>
<tr>
	<td>Winning from Lotteries etc</td>
	<td><input type="text" id="amount" name="income" value=""><br></td>
</tr>
<tr>
<td colspan="6">
<center><font size="4"><b>Details of Assets ( House properties etc.) sold during this year<br>Description of Asset Other Income Details</font></center>
</td>
</tr>
<tr>
	<th>Particulars</th>
	<th>Amount</th>
</tr>
 <tr>
	<td>Sale Value</td>
	<td><input type="text" id="amount" name="income" value=""><br></td>
</tr>
<tr>
	<td>Date of sale</td>
	<td><input type="text" id="amount" name="income" value=""><br></td>
</tr>
<tr>
	<td>Expenses in relation to sale</td>
	<td><input type="text" id="amount" name="income" value=""><br></td>
</tr>
<tr>
	<td>Purchase value</td>
	<td><input type="text" id="amount" name="income" value=""><br></td>
</tr>
<tr>
	<td>Purchase Date</td>
	<td><input type="text" id="amount" name="income" value=""><br></td>
</tr>
     
<tr class="center">
<td class="center">
<button type="save" class="btn btn-save" >Save</button>
<button type="next" class="btn btn-Next"><a href="form8.html">Next</button>
<button type="skip" class="btn btn-skip"><a href="form8.html">Skip</button>
</td class="center">
</tr>
</table>
</form>
</body>
</html>
