<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="validate.js"></script>
</head>
<body>
<form action="#" name="StudentRegistration"  onSubmit="return(validate());">

<table cellpadding="6" width="60%" bgcolor="99FFFF" align="center"
cellspacing="3">

<tr>
<td colspan="6">
<center><font size="4"><b><u>Having Income more than 50 lakh</u></b></font></center>
</td>
</tr>
<tr>
<td colspan="6">
<center><font size="4"><b><u>Details of immovable asset</u></b></font></center>
</td>
</tr>
<tr>
    <th>Description</th>
    <th>Address</th>
    <th>PIN Code</th>
    <th>Amount(cost)</th>
  </tr>
  <tr>
    <td><input type="text" id="description" name="description" value=""><br></td>
    <td><input type="text" id="address" name="address" value=""></td>
    <td><input type="text" id="pincode" name="pincode" value=""></td>
    <td><input type="text" id="amount" name="amount" value=""></td>
    </tr>
	
<tr>
<td colspan="2">
<center><font size="4"><b><u>Details of movable asset</u></b></font></center>
</td>
</tr>

<tr>
    <th>Description</th>
    <th>Amount(cost)</th>
</tr>
<tr>
    <td>Jewellery, bullion etc</td>
    <td><input type="text" id="amount" name="amount" value=""></td>
  </tr>
  <tr>
    <td>Archaeological collections, drawings,<br> painting, sculpture or any work of art</td>
    <td><input type="text" id="amount" name="amount" value=""></td>
  </tr>
  <tr>
    <td>Vehicles, yachts, boats and aircrafts</td>
    <td><input type="text" id="amount" name="amount" value=""><td>
  </tr>
<tr>
<td colspan="2">
<center><font size="4"><b>Financial assets</b></font></center>
</td>
</tr>
  <tr>
    <td>Bank (including all deposits)</td>
    <td><input type="text" id="amount" name="amount" value=""></td>
  </tr>
  <tr>
    <td>Shares and securities</td>
    <td><input type="text" id="amount" name="amount" value=""></td>
  </tr>
  <tr>
    <td>Insurance policies</td>
    <td><input type="text" id="amount" name="amount" value=""></td>
  </tr>
  <tr>
    <td>Loans and advances given</td>
    <td><input type="text" id="amount" name="amount" value=""></td>
  </tr>
  <tr>
    <td>Cash in hand</td>
    <td><input type="text" id="amount" name="amount" value=""></td>
  </tr>
<tr>
<td colspan="2">
<center><font size="4"><b><u>Details of liabilities<u></b></font></center>
</td>
</tr>
<tr>
	<tr>
    <th>Particulars</th>
    <th>Amount</th>
  </tr>
</tr>
<tr>
  	<td>Liabilities in relation to Assets</td>
    <td><input type="text" id="companyname" name="companyname" value=""><br></td>
  </tr>

    
 
<tr class="center">
<td class="center">
<button type="save" class="btn btn-save" >Save</button>
<button type="next" class="btn btn-Next"><a href="form3,4.html">Next</button>
<button type="skip" class="btn btn-skip"><a href="form3,4.html">Skip</button>
</td class="center">
</tr>
</table>
</form>
</body>
</html>
