<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="validate.js"></script>
</head>
<body>
<form action="#" name="Deductions/Savings Particulars" onSubmit="return(validate());">

<table cellpadding="7" width="40%" bgcolor="99FFFF" align="center"
cellspacing="8">

<tr>
<td colspan="2">
<center><font size="4"><b>Deductions/Savings Particulars</b></font></center>
</td>
</tr>

<tr>
<td>LIC Receipts:</td>
<td><input type="file" id="files" name="files" multiple></td>
</tr>

<tr>
<td>Mediclaim:</td>
<td><input type="file" id="files" name="files" multiple></td>
</tr>

<tr>
<td>NSC:</td>
<td><input type="file" id="files" name="files" multiple></td>
</tr>

<tr>
<td>PPF:</td>
<td><input type="file" id="files" name="files" multiple></td>
</tr>

<tr>
<td>Tution Fee Receipts of Children:</td>
<td><input type="file" id="files" name="files" multiple></td>
</tr>

<tr>
<td>Any Other Savings details (If any):</td>
<td><input type="file" id="files" name="files" multiple></td>
</tr>

<tr>
<td>All Housing Loan Certificates/Statements:</td>
<td><input type="file" id="files" name="files" multiple></td>
</tr>


<tr>
<!--<td><input type="reset"></td>-->
<td colspan="2"><input type="submit" value="Submit Form" /></td>
</tr>
</table>
</form>
</body>
</html>
